.footer-mobile
  ul.navbar
    li
      a(href="index.html") Home
    li
      a(href="services") Services
    li
      a(href="about") About
    li
      a(href="news") News
    li
      a(href="resources") Resources
    li
      a(href="contact") Contact
  ul.socials
    li
      a(href="https://www.facebook.com/CareerStreamsWindsor/")
        i.fa.fa-facebook
    li
      a(href="/")
        i.fa.fa-twitter
    li
      a(href="/")
        i.fa.fa-linkedin
    li
      <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=4cvkhfjvoagVecRfEkyxqJLgxlEwK3d0zQwCSPiwSOA35245sO1onnK2MLiH"></script></span>
  
  h4.serif.phone 519.254.4246  
footer
  .row
    .pull-left
      ul.navbar
        li
          a(href="index.html") Home
        li
          a(href="services") Services
        li
          a(href="about") About
      h4.serif.phone 519.254.4246
    .pull-right
      ul.navbar
        li
          a(href="news") News
        li
          a(href="resources") Resources
        li
          a(href="contact") Contact
      ul.socials
        li
          a(href="https://www.facebook.com/CareerStreamsWindsor/")
            i.fa.fa-facebook
        li
          a(href="/")
            i.fa.fa-twitter
        li
          a(href="/")
            i.fa.fa-linkedin
        li
          <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=4cvkhfjvoagVecRfEkyxqJLgxlEwK3d0zQwCSPiwSOA35245sO1onnK2MLiH"></script></span>
  .footer-crest
    img(src="img/footer-crest.png", alt="Career Streams")
