header.serif
  .header-contact__left.pull-left
    p 3100 Temple Drive, Windsor, Ontario
    p 380 Wellington St., 6th Floor, Suite 634, London, Ontario
    p.header-font-large Serving Windsor, London, Chatham, Sarnia.
  .header-crest
    img(src="img/crest.png", alt="Career Streams", draggable="false")
  .header-contact__right.pull-right
    p Call us at our head office
    p.header-font-large 519.254.4246

.mobile-trigger
  ul  
    li.top
    li.middle
    li.bottom
    
.mobile-menu
  ul
    li
      a(href="index.html") Home
    li
      a(href="services") Services
    li
      a(href="about") About
    li
      a(href="sponsorships") Sponsorships
    li
      a(href="news") News
    li
      a(href="resources") Resources
    li
      a(href="contact") Contact

nav.nav
  .row
    ul.navbar.pull-left
      li
        a(href="index.html") Home
      li
        a(href="services") Services
        
      li.dropdown
        a.dropdown-trigger(href="about") About
        ul.dropdown-menu.bottom-line-plain
          li
            a(href="sponsorships") Sponshorships <i class="fa fa-caret-right"></i>
    ul.navbar.pull-right
      li
        a(href="news") News
      li
        a(href="resources") Resources
      li
        a(href="contact") Contact
