nav.nav.bottom-line
  .row
    a.nav-brand(href="/") Cloak and Dagger
    ul.navbar
      li
        a(href="/") Home
      li.dropdown
        a.dropdown-trigger(href="/") About
        ul.dropdown-menu.bottom-line-plain
          li
            a(href="/") Dropdown 1 <i class="fa fa-caret-right"></i>
          li
            a(href="/") Dropdown 2 <i class="fa fa-caret-right"></i>
          li
            a(href="/") Dropdown 3 <i class="fa fa-caret-right"></i>
          li
            a(href="/") Dropdown 4 <i class="fa fa-caret-right"></i>
          li
            a(href="/") Dropdown 5 <i class="fa fa-caret-right"></i>
      li
        a(href="/") Features
      li
        a(href="/") Contact
