script(src="js/jquery-2.1.4.js")
script(src="js/contact.js")
script(src="js/typing.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI08eriA8915zsBb5f-ZTdaoFokv1-qTk")
script(src="js/jquery.ibacor-fb-streaming.min.js")
script(src="js/main.js")
