.nested-tabs(data-tabgroup="first-tab-group")
  ul.tab-drawer
    li
      a.a-tab.active(href="#tab1") Marketing
    li
      a.a-tab(href="#tab2") Branding
    li
      a.a-tab(href="#tab3") Advertising
  .tabs
    #first-tab-group.tabgroup
      #tab1.tab
        h5 Tab 1
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maiores enim hic dolorem nostrum, tenetur explicabo aliquid eveniet laudantium totam esse beatae iste in saepe, atque eum. Enim expedita, consequatur.
        p Quaerat, cumque? Cum sequi, asperiores voluptatibus maxime quisquam laborum ab deserunt aspernatur fugit distinctio? Amet nobis voluptas, sapiente reiciendis assumenda quidem expedita repellendus dolores quod culpa excepturi perferendis quam dignissimos.
        p Accusantium ad id officia, delectus architecto dignissimos cumque, expedita mollitia assumenda atque omnis provident vel eum error iste ullam accusamus quaerat nisi quod tenetur vitae ex? Nam placeat eum quod.
      #tab2.tab
        h5 Tab 2
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maiores enim hic dolorem nostrum, tenetur explicabo aliquid eveniet laudantium totam esse beatae iste in saepe, atque eum. Enim expedita, consequatur.
        p Quaerat, cumque? Cum sequi, asperiores voluptatibus maxime quisquam laborum ab deserunt aspernatur fugit distinctio? Amet nobis voluptas, sapiente reiciendis assumenda quidem expedita repellendus dolores quod culpa excepturi perferendis quam dignissimos.
        p Accusantium ad id officia, delectus architecto dignissimos cumque, expedita mollitia assumenda atque omnis provident vel eum error iste ullam accusamus quaerat nisi quod tenetur vitae ex? Nam placeat eum quod.
      #tab3.tab
        h5 Tab 3
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maiores enim hic dolorem nostrum, tenetur explicabo aliquid eveniet laudantium totam esse beatae iste in saepe, atque eum. Enim expedita, consequatur.
        p Quaerat, cumque? Cum sequi, asperiores voluptatibus maxime quisquam laborum ab deserunt aspernatur fugit distinctio? Amet nobis voluptas, sapiente reiciendis assumenda quidem expedita repellendus dolores quod culpa excepturi perferendis quam dignissimos.
        p Accusantium ad id officia, delectus architecto dignissimos cumque, expedita mollitia assumenda atque omnis provident vel eum error iste ullam accusamus quaerat nisi quod tenetur vitae ex? Nam placeat eum quod.
