.one {
  lost-column: 1/1 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-half {
  lost-column: 1/2 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-third {
  lost-column: 1/3 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.two-third {
  lost-column: 2/3 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-quarter {
  lost-column: 1/4 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.two-quarter {
  lost-column: 2/4 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.three-quarter {
  lost-column: 3/4 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-fifth {
  lost-column: 1/5 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.two-fifth {
  lost-column: 2/5 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.three-fifth {
  lost-column: 3/5 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.four-fifth {
  lost-column: 4/5 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-sixth {
  lost-column: 1/6 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.two-sixth {
  lost-column: 2/6 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.three-sixth {
  lost-column: 3/6 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.four-sixth {
  lost-column: 4/6 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.five-sixth {
  lost-column: 5/6 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-seventh {
  lost-column: 1/7 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.two-seventh {
  lost-column: 2/7 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.three-seventh {
  lost-column: 3/7 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.four-seventh {
  lost-column: 4/7 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.five-seventh {
  lost-column: 5/7 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.six-seventh {
  lost-column: 6/7 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-eighth {
  lost-column: 1/8 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.two-eighth {
  lost-column: 2/8 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.three-eighth {
  lost-column: 3/8 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.four-eighth {
  lost-column: 4/8 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.five-eighth {
  lost-column: 5/8 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.six-eighth {
  lost-column: 6/8 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.seven-eighth {
  lost-column: 7/8 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-ninth {
  lost-column: 1/9 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.two-ninth {
  lost-column: 2/9 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.three-ninth {
  lost-column: 3/9 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.four-ninth {
  lost-column: 4/9 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.five-ninth {
  lost-column: 5/9 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.six-ninth {
  lost-column: 6/9 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.seven-ninth {
  lost-column: 7/9 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.eight-ninth {
  lost-column: 8/9 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-tenth {
  lost-column: 1/10 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.two-tenth {
  lost-column: 2/10 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.three-tenth {
  lost-column: 3/10 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.four-tenth {
  lost-column: 4/10 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.five-tenth {
  lost-column: 5/10 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.six-tenth {
  lost-column: 6/10 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.seven-tenth {
  lost-column: 7/10 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.eight-tenth {
  lost-column: 8/10 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.nine-tenth {
  lost-column: 9/10 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-eleventh {
  lost-column: 1/11 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.two-eleventh {
  lost-column: 2/11 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.three-eleventh {
  lost-column: 3/11 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.four-eleventh {
  lost-column: 4/11 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.five-eleventh {
  lost-column: 5/11 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.six-eleventh {
  lost-column: 6/11 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.seven-eleventh {
  lost-column: 7/11 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.eight-eleventh {
  lost-column: 8/11 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.nine-eleventh {
  lost-column: 9/11 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.ten-eleventh {
  lost-column: 10/11 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.one-twelfth {
  lost-column: 1/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.two-twelfth {
  lost-column: 2/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.three-twelfth {
  lost-column: 3/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.four-twelfth {
  lost-column: 4/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.five-twelfth {
  lost-column: 5/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.six-twelfth {
  lost-column: 6/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.seven-twelfth {
  lost-column: 7/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.eight-twelfth {
  lost-column: 8/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.nine-twelfth {
  lost-column: 9/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.ten-twelfth {
  lost-column: 10/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.eleven-twelfth {
  lost-column:11/12 0;
  @media screen and(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.row {
  lost-center: 1200px;
}


.grid-vis {
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(0,225,225,.5);
}
