// colors

$neptune: #83b0b9; // Neptune
$chestnut: #d35657; // Chestnut Rose
$tuna: #343943; // Tuna
$equator: #e4b162; // Equator

$nightash: #ebebeb; // Nightash
$greyleaf: #999999; //Greyleaf
$woodsmoke: #131519; // Woodsmoke
$white: #ffffff; // White

$main-colour: #1153BF; // Main Colour
