doctype html
html
  head
    title CareerStreams | Employment Directions for Career Change & Return to Work
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    meta(property='og:title', content='CareerStreams | Employment Directions for Career Change & Return to Work')
    meta(property='og:url', content='https://careersteams.com')
    meta(property='og:site_name', content='CareerStreams')
    meta(property='og:image', content='http://careerstreams.com/img/cs-fb-img.jpg')
    
    link(rel="icon", type="image/png" href="img/fav.png")

    link(rel="stylesheet", href="css/reset.css") 
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")      

  body
  
    include includes/header.jade  
         
    main
      section.hp-intro
        h2.serif.ttu Invest In Yourself - <br> Invest In Your Future 
      
      section.hp-content 
        .row
          .values  
            ul
              li
                h3.serif.ttu Caring
              li
                h3.serif.ttu Insightful
              li
                h3.serif.ttu Directions
          .copy
            .one-third
              .whats-new
                h4 What's New?
                p View our article in <br> BizX Magazine:
                a(href="http://www.bizxmagazine.com/issues/July-August-2014/#p=55") http://www.bizxmagazine.com/issues/July-August-2014/#p=55
            .two-third
              h4 Our Commitment 
              p  At CareerStreams we are committed to providing a prompt and professional service with individualized reports tailored to meet your needs, and the needs of the clients you serve. In addition we provide services for students preparing for post-secondary and for those looking for a career change.
              
      include includes/footer.jade
        

    //Scripts
    include includes/scripts.jade
